// _main.scss

@import 'animations';

main {
    background-color: $background-color-main;
    padding-bottom: 80px;
    color: blue;

    &.animated {
        animation: fadeIn 1s ease-in-out;
    }
}
