$font-family: 'Roboto', sans-serif;
$primary-color: #fff;
$background-color-main: #EAE3C5;

* {
    font-family: $font-family;
}

/* navbar */
.lista ul li a, .carrito div a {
    color: $primary-color;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

/* main */
main {
    background-color: $background-color-main;
    padding-bottom: 80px;
}

ul {
    list-style: none;
}

footer ul li a {
    margin-left: 10px;
}

footer {
    height: 150px;
}

footer a {
    text-decoration: none;
}

.formulario1 {
    height: 30rem;
}

main {
    background-color: #EAE3C5;
} 
